@import url('https://fonts.googleapis.com/css?family=Aldrich:400|Poppins:400');
@font-face{
    font-family: "FhaCondensed";
    src:url(FhaCondensed.ttf);
}


body{
    font-family: "FhaCondensed";
    background-image: url("images/blackwalnutbg.jpg");
}
img { max-width: 100%; }


#container  {
    padding: 20px;
  position: absolute;
  top: 10%;
  left: 70%;
  width: 25%;
  border: 5px solid rgb(48, 12, 5);
  border-radius: 20px;
box-shadow: 1px 1px 0px rgb(68, 62, 4), 5px 10px 0 rgba(41, 12, 1, 0.8),10px 20px 6px  rgba(0, 0,0, 0.6);
background-image: url("images/brass.jpeg");
overflow: hidden;
}

#coffee{
    display: block;
    position: absolute;
    top: 20%;
    left:10%;
    filter: drop-shadow(16px 16px 20px rgb(0, 0, 0));
}

#displayBox{
margin:auto;
background-color: rgb(252, 242, 200);
font-size: 3.5em;
text-align: left;
border: 5px solid rgb(48, 12, 5);
border-radius: 20px;
vertical-align: middle;
filter: drop-shadow(3px 3px 4px rgb(0, 0, 0));
overflow:hidden;
height: 75px;
padding: 5px;
}
#buttonBox{
    max-width: 100%;
    justify-items: center;
    margin: auto;
    width:95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 0px;
    font-size: 2em;
    padding: 5px;
}

#btnClear{
    width: 125px;
}

button {
    height:100px;
    width: 100px;
    min-width: 50px;
    min-height: 50px;
    max-width: 100%;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 1px 0px #666, 0 8px 0 rgb(92, 76, 4), 0 6px 6px  rgba(0, 0,0, 0.6);
    border: 2px solid goldenrod;
    color:goldenrod;
    font-family: "FhaCondensed";
    font-size:1.6em;
background-image: url("images/base.png"),url("images/layer2.png"),url("images/layer3.png");
-webkit-transition: all 150ms ease;
    transition: all 150ms ease;   
    filter: drop-shadow(3px 3px 4px rgb(0, 0, 0));
}

#numDisplay{
    display: inline;
    text-align: left;
}
button:active
{ 
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(8px);
    transform: translateY(8px);
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));

	-webkit-animation: none;
	animation: none;
}



button::-moz-focus-inner {
    border: 0;
  }


/*Animation for divide by 0*/
.divideByZero{
    animation: shake 1.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }




  /*Responsive Rules*/
  
  @media screen and (max-width:1376px){
    #coffee{
        display:none;
    }

    #container {
        transform: none;
         width: 75%;
         max-height: 85%;
         position: static;
         top: 5%;
         display: block;
         margin-left:auto;
         margin-right:auto;
         text-align: center;
    }
    #displayBox{
        font-size: 3em;
    }

    button{
        width: 70px;
        height: 70px;
    }

    
}